{% extends "base.html.twig" %}

{% block title %}Page d'accueil{% endblock %}

{% block body %}

    <h1 class="text-center ">App CONTACT</h1>

    <div class="row justify-content-center">
        <h2 class="text-center"><i class="fas fa-users m-2" style="font-size: 260px;"></i></h2>
    
    <a href="{{path('contact_liste')}}" class="btn btn-dark text-center mt-5 border-info" style="max-width: 160px" >Entrer</a>

    </div>


{% endblock %}